.container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.page-header {
    background:  linear-gradient(135deg, #198754, #0f5132);
    color: white;
    padding: 2rem 0;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.page-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 0px;
}
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.btn-view {
    background-color: #e5f7ed;
    color: #20c997;
    border: none;
}
    .btn-view:hover {
    background-color: #20c997;
    color: white;
}

@media only screen and (max-width: 728px) {
    .container{
      max-width: 100%;
      border-radius: 0px;
      box-shadow: none;
      margin-top: 0px; 
      padding: 0;
  }
  .page-header {
    
    width: 100vw;
    border-radius: 0;

  }
  .table-container{
    margin: 20px;
  }
  }